<div class="wrapper" fxLayout="column" fxLayoutAlign="space-between stretch">

  <button class="mb" mat-stroked-button color="primary">Departure place</button>

  <div class="stats-wrapper mb p rounded" fxLayout="column">
    <h3 class="mb">Departure weather</h3>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="50">
        <p><b>Dew Point:</b></p>
        <p><b>Humidity:</b></p>
        <p><b>Temperature:</b></p>
      </div>
      <div fxLayout="column" fxFlex="50">
        <p>6</p>
        <p>78%</p>
        <p>10.0</p>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="rounded p mini-stats-wrapper" fxLayout="column" fxLayoutAlign="start center" fxFlex="24">
      <h1>0%</h1>
      <h3><b>Fog</b></h3>
      <div class="sun" style="height: 100%; width: 100%;;"></div>
    </div>
    <div class="rounded p mini-stats-wrapper" fxLayout="column" fxLayoutAlign="start center" fxFlex="24">
      <h1>29%</h1>
      <h3><b>Low Clouds</b></h3>
      <div class="cloud-low" style="height: 100%; width: 100%;;"></div>
    </div>
    <div class="rounded p mini-stats-wrapper" fxLayout="column" fxLayoutAlign="start center" fxFlex="24">
      <h1>83%</h1>
      <h3><b>Medium Clouds</b></h3>
      <div class="cloud-medium" style="height: 100%; width: 100%;;"></div>
    </div>
    <div class="rounded p mini-stats-wrapper" fxLayout="column" fxLayoutAlign="start center" fxFlex="24">
      <h1>76%</h1>
      <h3><b>High Clouds</b></h3>
      <div class="cloud-high" style="height: 100%; width: 100%;;"></div>
    </div>
  </div>

</div>
