<form [formGroup]="locationForm" fxLayout="column" fxLayoutAlign="space-between center">

  <h3 class="mb">Enter Your location</h3>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Enter location" formControlName="location" #search [matAutocomplete]="auto" (keyup)="onLocationKeyUp()">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option" (onSelectionChange)="onOptionSelect($event)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <h3 class="mb">Or enter coordinates</h3>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <mat-form-field class="pr-xs" appearance="outline">
      <mat-label>Latitude</mat-label>
      <input type="number" matInput placeholder="00.00" formControlName="latitude" (keyup)="updateLocation()">
      <mat-error *ngIf="locationForm.controls.latitude.errors?.required">
        Latitude is required
      </mat-error>
      <mat-error *ngIf="locationForm.controls.latitude.errors?.pattern">
        Invalid value
      </mat-error>
    </mat-form-field>

    <mat-form-field class="pl-xs" appearance="outline">
      <mat-label>Longitude</mat-label>
      <input type="number"  matInput placeholder="00.00" formControlName="longitude" (keyup)="updateLocation()">
      <mat-error *ngIf="locationForm.controls.longitude.errors?.required">
        Longitude is required
      </mat-error>
      <mat-error *ngIf="locationForm.controls.longitude.errors?.pattern">
        Invalid value
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="!locationForm.valid"
    style="width: 100%;" type="button" (click)="onSubmit()">Submit</button>

</form>