$weather-app-primary: #16c0f0;
$weather-app-secondary: #8a25b1;
$app-background: #f1f1f1;
$content-background: #fafafa;

$weather-app-blue: (
	50: #e3f7fd,
  100: #b9ecfb,
  200: #8be0f8,
  300: #5cd3f5,
  400: #39c9f2,
  500: #16c0f0,
  600: #13baee,
  700: #10b2ec,
  800: #0caae9,
  900: #069ce5,
  A100: #ffffff,
  A200: #daf2ff,
  A400: #a7dfff,
  A700: #8dd6ff,
  contrast: (
		50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$weather-app-purple: (
	50: #f1e5f6,
  100: #dcbee8,
  200: #c592d8,
  300: #ad66c8,
  400: #9c46bd,
  500: #8a25b1,
  600: #8221aa,
  700: #771ba1,
  800: #6d1698,
  900: #5a0d88,
  A100: #e2b8ff,
  A200: #cd85ff,
  A400: #b852ff,
  A700: #ae39ff,
  contrast: (50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));
